@charset "UTF-8";

/*Corpo*/
*{
    margin: 0px;
}
body{
    background-color: #1d1921;
    color: #ffffff;
}
menu{
    padding-left: 5px;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    color: #000000;
    display: none;
    z-index: 4;
    border: 2px solid #ff0000;
}menu > div{
    display: flex;
    margin-top: 20px;
    align-items: center;
} menu > div > i#closeButton{
    padding-right: 5px;
} menu > div > i#search{
    position: absolute;
    left: 260px;
    color: #ff0000;
}
header{
    /*Posição*/
    padding: 20px;
    text-align: center;
    /*Cores*/
    background-color: #ff0000;
    margin-top: 0px;
}
main{
    /*Tamanho*/
    width: 80vw;
    height: 100vh;
    /*Posição*/
    margin: auto;
    padding: 20px;
    /*Cores*/
    background-color: #ffffff;
    color: #1d1921;
}

/*Partes*/
h1{
    padding-bottom: 10px;
}
ul{
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;
    height: 85%;
}
li{
    padding: 5px;
    display: flex;
}
a.nav{
    padding: 10px;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
}
#contact{
    font-size: 0.9em;
}#contact img{
    width: 32px;
    padding-right: 5px;
}#contact a{
    padding-right: 5px;
}
div > i{
    cursor: pointer;
    text-align: left;
    display: flex;
    width: 24px;
    columns: 2;
}div > input{
    padding: 5px;
    width: 80%;
    border-radius: 10px;
}

/*Ações*/
a.nav:hover{
    background-color: #c53e5060;
}

/*IDs e Classes*/
#menuBurger{
    text-align: left;
    z-index: 4;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: none;
    z-index: 3;
}