@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --FontBase: "Abril Fatface", serif;
}
/*Corpo*/
*{
    margin: 0px;
    font-family: var(--FontBase);
    font-weight: 200;
}
body{
    background-color: #1d1921;
    color: #ffffff;
}
menu{
    padding-left: 5px;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    color: #000000;
    display: none;
    z-index: 4;
    border: 2px solid #ff0000;
}menu > div{
    display: flex;
    margin-top: 20px;
    align-items: center;
} menu > div > i#closeButton{
    padding-right: 5px;
} menu > div > i#search{
    position: absolute;
    left: 260px;
    color: #ff0000;
}
header{
    /*Posição*/
    padding: 20px;
    text-align: center;
    /*Cores*/
    background-color: #ff0000;
    margin-top: 0px;
}
main{
    /*Tamanho*/
    width: 80vw;
    height: 100%;
    /*Posição*/
    margin: auto;
    padding: 20px;
    /*Cores*/
    background-color: #ffffff;
    color: #1d1921;
}

/*Partes*/
article > img{
    width: 100%;
    border-radius: 10px;
}
h1{
    padding-bottom: 10px;
}
h2, h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
h6{
    padding-bottom: 20px;
}
p{
    text-indent: 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    padding-bottom: 20px;
}
ul{
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;
    height: 85%;
}
li{
    padding: 5px;
    display: flex;
}
a{
    color: #000000;
    text-decoration: none;
}
a.nav{
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}
#contact{
    font-size: 0.7em;
}#contact img{
    width: 32px;
    padding-right: 5px;
}#contact a{
    padding-right: 5px;
}
div > i{
    cursor: pointer;
    text-align: left;
    display: flex;
    width: 24px;
    columns: 2;
}div > input{
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #000000;
}
button, button > a{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    width: 80%;
    display: block;
    margin: auto;
}

/*Ações*/
#contact > label > a:hover{
    color: #ff0000;
}
a.nav:hover{
    background-color: #c53e5060;
}

/*IDs e Classes*/
#menuBurger{
    text-align: left;
    z-index: 4;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: none;
    z-index: 3;
}